@use "sass:map";
@use "utils/mixin";
@use "utils/maps";
@use "utils/functions";

//Base
@use "base/global";

//Layout
@use "layout/nav";
@use "layout/footer";

//pages
@use "pages/index";
@use "pages/metas";
@use "pages/inversion";
@use "pages/simulador";

//Components
@use "components/buttons";
@use "components/dona";

//sass --watch scss:css

/* 
@use "../utils/mixin" as *;
@use "../utils/maps" as *;
@use "sass:map";
*/


