@use "maps" as *;
@use "sass:map";

@function color($key) {
  @return map.get($colores-principales, $key);
}

@function categoria($key) {
  @return map.get($colores-categorias, $key);
}

@function space($key) {
  @return map.get($spacing, $key);
}

@function font($key) {
  @return map.get($fonts, $key);
}

@function size($key) {
  @return map.get($font-sizes, $key);
}
