@use "../utils/mixin" as *;
@use '../utils/functions' as *;
@use "../utils/maps" as *;
@use "sass:map";


/* Categorias */

.contenedor {
    @include flex-center(column);
    background: -webkit-linear-gradient(156deg, #18848e, #ffffff);
    background: linear-gradient(159deg, #18848e, #ffffff);
    padding: space(lg) 0;
}

.clasificacion {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;

    &__titulo {
        @include flex-center(column);
        flex: 0 0 100%;
        margin-bottom: space(lg);

        label {
            margin: space(xs);
            color: #555;
            font-size: size(lg);
        }

        input {
            padding: space(sm);
            border-radius: 8px;
            border: 1px solid #ccc;
        }
    }
}

.card {
    background-color: #ffffff;
    border-radius: 14px;
    padding: space(md) space(lg);
    margin: space(md);
    box-shadow: 0 8px 20px rgba(24, 132, 142, 0.2);
    width: 23%;

    &__title {
        display: block;
        text-align: center;
        margin-bottom: space(sm);
        font-size: size(lg);
        font-weight: 600;
    }

    &__options {
        display: flex;
        align-items: center;
        gap: space(xs);
        margin-bottom: space(sm);

        p {
            flex: 1;
            margin: 0;
        }

        input {
            width: 90px;
            padding: space(sm);
            border-radius: 6px;
            border: 1px solid #ccc;
        }
    }
}

/*Media queries*/

@media screen and (max-width: 1275px) {

    .card {
        width: 27%;
    }

}

@media screen and (max-width: 1100px) {
    .card {
        width: 29.5%;
    }
}

@media screen and (max-width: 992px) {
    .clasificacion {
        &__titulo {
            h2 {
                font-size: 4vw;
            }

            label {
                font-size: size(xl);
            }

            input {
                padding: space(md);
            }
        }
    }

    .card {
        margin: space(md) space(lg); 
        width: 40%;

        &__title {
            font-size: size(xl);
        }

        &__options {

            p {
                font-size: size(md);
            }

            input {
                padding: space(sm);
                width: 110px;
            }
        }

    }
}

@media screen and (max-width: 800px) {

    .clasificacion {
        &__titulo {
            h2 {
                font-size:6vw;
            }
        }
    }

    .card {
        width: 65%; 

        &__title {
            font-size: size(xxl);
        }

        &__options {
            p {
                font-size: size(lg);
            }

            input {
                padding: space(md);
                width: 110px;
            }
        }
    }
}

@media screen and (max-width: 520px) {

    .clasificacion {
        margin: auto 0;
        &__titulo {
            h2 {
                font-size: 9vw;
            }
        }
    }

    .card {
        width: 85%; 
        padding: space(md);
        margin: space(lg) auto;

        &__title {
            font-size: 7.5vw;
        }

        &__options {
            p {
                font-size: size(lg);
            }

            input {
                padding: space(md);
                width: 100px;
                font-size: size(md);
            }
        }
    }
}