@use "../utils/mixin" as *;
@use "../utils/maps" as *;
@use "sass:map";

.titulo{
    p{
        margin: 1rem 4rem 5rem 4rem;
        font-size: 1.3rem;
        text-align: justify;
    }
}
.main-inversion {
    background: url("../img/fondo-pag-inversion.png") repeat-y;
    background-size: contain;
    position: relative;

    .left {
        margin-right: auto;
        margin-left: 8rem;
    }

    .right {
        margin-right: 8rem;
        margin-left: auto;
    }

}

.seccionInversion {
    position: relative;
    margin-bottom: 250px;
    padding-top: 50px;
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .cuerpo{
        display: flex;
        flex-direction: column;
        margin-left: 4rem;
    }
    .imagen{
        margin-left: 3rem;
        img{
            height: 20rem;
        }
    }
    
    h3 {
        color:black;
        font-weight: 600;
        font-style: normal;
        font-size: 2.5rem;
    }

    p {
        line-height: 1.6;
        color: #555;
        margin-bottom: 16px;
    }
}


#info {
    width: 90%;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    h3 {
        margin-bottom: 1.5rem;
        font-size: 1.4rem;
        grid-area: 1 / 1 / 2 / 4;

    }

    div {
        display: flex;
        flex-direction: column;
        gap: 12px;
        background-color: #1a98a6;
        padding: 1rem;
        border-radius: 12px;

        h4 {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
            color: white;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 8px 10px;
            background-color: #ffffff;
            border-radius: 8px;
            font-size: 0.9rem;
            margin-bottom: 6px;

            display: flex;
            align-items: center;
            gap: 12px;
            padding: 10px;
            background-color: #ffffff;
            border-radius: 10px;

            img {
                width: 48px;
                height: 48px;
                object-fit: cover;
                border-radius: 8px;
            }

            span {
                font-size: 0.9rem;
                font-weight: 500;
            }

        }

    }
}