@use "../utils/mixin" as *;
@use '../utils/functions' as *;
@use "../utils/maps" as *;
@use "sass:map";

.inversion__titulo {
    p {
        margin: space(md) space(xxxl) space(xxxl) space(xxxl);
        font-size: size(lg);
        text-align: justify;
    }
}

.inversion {
    background: url("../img/fondo-pag-inversion.png") repeat-y;
    background-size: contain;
    position: relative;

    .left {
        margin-right: auto;
        margin-left: space(xxxl);
    }

    .right {
        margin-right: space(xxxl);
        margin-left: auto;
    }

    .inversion__seccion {
        position: relative;
        margin-bottom: 250px;
        padding-top: 50px;
        z-index: 1;
        @include flex-center(row-reverse);
        
        .inversion__body {
            display: flex;
            flex-direction: column;
            margin-left: space(xl);
        }

        .image {
            margin-left: space(lgg);

            img {
                height: 20rem;
            }
        }

        h3 {
            color: color(texto1);
            font-weight: 600;
            font-style: normal;
            font-size: size(2xl);
        }


        p {
            line-height: 1.6;
            color: #555;
            margin-bottom: space(md);
        }
    }

}

#info {
    width: 90%;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;


    h3 {
        margin-bottom: 1.5rem;
        font-size: 1.4rem;
        grid-area: 1 / 1 / 2 / 4;
    }


    div {
        display: flex;
        flex-direction: column;
        gap: 12px;
        background-color: #1a98a6;
        padding: 1rem;
        border-radius: 12px;


        h4 {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
            color: white;
        }
    }


    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 8px 10px;
            background-color: #ffffff;
            border-radius: 8px;
            font-size: 0.9rem;
            margin-bottom: 6px;


            display: flex;
            align-items: center;
            gap: 12px;
            padding: 10px;
            background-color: #ffffff;
            border-radius: 10px;


            img {
                width: 48px;
                height: 48px;
                object-fit: cover;
                border-radius: 8px;
            }


            span {
                font-size: 0.9rem;
                font-weight: 500;
            }
        }
    }
}


.slide__left {
    opacity: 0;
    transform: translateX(-600px);
    animation: slide-in linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.slide__right {
    opacity: 0;
    transform: translateX(600px);
    animation: slide-in linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@media screen and (max-width: 1100px) {
    
}

@media screen and (max-width: 992px) {
   
}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 576px) {
    
}