@use "../utils/mixin" as *;
@use '../utils/functions' as *;
@use "../utils/maps" as *;
@use "sass:map";

.metas {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);

    table {
        width: 100%;
        border-collapse: collapse;
    }

    thead {
        background-color: #f4f6f8;
    }

    th {
        text-align: left;
        padding: 12px;
        font-weight: 600;
        font-size: 0.95rem;
        color: #333;
    }

    td {
        padding: 10px;
    }

    input {
        width: 100%;
        height: 100%;
        padding: 8px 10px;
        border-radius: 6px;
        border: 1px solid #ccc;
        font-size: 0.9rem;
    }

    select {
        width: 100%;
        height: 100%;
        padding: 8px 10px;
        border-radius: 6px;
        border: 1px solid #ccc;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1100px) {}


@media screen and (max-width: 992px) {
    h2 {
        font-size: 4vw;
    }

    .metas {
        width: 92%;
    }
}



@media screen and (max-width: 800px) {
    h2 {
        font-size: 6vw;
    }

    .metas table,
    .metas thead,
    .metas tbody,
    .metas th,
    .metas td,
    .metas tr {
        display: block;
        width: 100%;
    }

    .metas thead {
        display: none;
    }

    .metas tr {
        background: #f9fafb;
        padding: space(md);
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    }

    .metas td {
        display: flex;
        flex-direction: column;
        margin-bottom: space(md);
    }

    .metas td::before {
        content: attr(data-label);
        font-weight: 600;
        font-size: size(md);
        color: black;
    }

}

@media screen and (max-width: 576px) {
    h2 {
        font-size: 9vw;
    }
}