@use "../utils/mixin" as *;
@use '../utils/functions' as *;
@use "../utils/maps" as *;
@use "sass:map";

.footer {
    width: 100%;
    padding: 1vw 0;
    text-align: center;
    color: #6b7280;
    background-color: #f8fafc;
    border-top: 1px solid #e5e7eb;
    margin-top: 3vw;
    p{
        margin: 0;
    }
}

@media screen and (max-width: 1100px) {

    .footer {
    p{
        font-size: size(base);
    }
}
    
}

@media screen and (max-width: 992px) {

    .footer {
        margin-top: space(lg);
    p{
        font-size: size(md);
    }
}
   
}
