@use "../utils/mixin" as *;
@use '../utils/functions' as *;
@use "../utils/maps" as *;
@use "sass:map";

header {
  @include flex-center(column);

  .header {
    @include flex-center(row);

    img {
      height: 5vw;
    }
  }

  nav {
    padding: space(lg) 0;
    background-color: #fff;

    ul {
      @include flex-center(row);
      gap: 7rem;

      li {
        list-style: none;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          right: -3.5rem;
          top: 25%;
          width: 2px;
          height: space(md);
          background-color: color(principal);
        }

        &:last-child::after {
          display: none;
        }

        a {
          text-decoration: none;
          color: color(principal);
          font-size: size(lg);
          font-family: font(primary);

          @include underline-hover(color(principal), 2px, 0.25s);
        }
      }
    }

    .lineas,
    #menu-toggle {
      display: none;
    }
  }
}




/*Media queries*/
@media screen and (max-width: 1100px) {
  header {
    nav {
      ul {
        gap: 5rem;

        li {
          &::after {
            right: -2.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  header {
    nav {
      ul {
        gap: 2.5rem;

        li {
          &::after {
            right: -1.25rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  header {
    background-color: white;
    padding: space(md);

    .header {
      h1 {
        font-size: 7vw;
      }

      img {
        height: 10vw;
      }
    }

    nav {
      padding: 0;

      &:hover {
        background-color: transparent;
      }

      ul {
        @include flex-center(column);
        background-color: color(texto2);
        position: fixed;
        inset: 0;
        transform: translateX(100%);
        transition: transform 0.4s ease;
        z-index: 1000;

        li {
          &::after {
            background-color: transparent;
          }

          a {
            font-size: 4vw;
            color: color(principal);
            @include underline-hover(color(principal), 2px, 0.25s);
          }
        }
      }

      //lineas visible
      .lineas {
        @include flex-center(column);
        gap: 6px;
        position: absolute;
        top: 5vw;
        right: space(md);
        cursor: pointer;
        z-index: 1001;


        &:hover {
          transform: scale(1.2);
          transition: ease-in-out 0.2s;
        }

        span {
          width: 30px;
          height: 3px;
          background-color: color(principal);
          display: block;
        }
      }
    }

    //cuando se hace click 
    #menu-toggle:checked~ul {
      transform: translateX(0);
    }


  }
}

@media screen and (max-width: 576px) {
  header {
    .header {
      h1 {
        font-size: 9.5vw;
      }

      img {
        height: 12vw;
      }
    }
    nav {
      ul {
        li {
          a {
            font-size: 8vw;
          }
        }
      }
    }
  }
}