@use "../utils/mixin" as *;
@use '../utils/functions' as *;
@use "../utils/maps" as *;
@use "sass:map";

.btn {
    font-size: 1vw;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s ease;
    padding: space(sm) space(md);
    border-radius: 10px;

    &:hover {
        background-color: color(secundario);
        transform: translateY(-2px);
    }
}

.eliminar__subcategoria {
    background: transparent;
    color: color(danger);

    &:hover {
        background: rgba(229, 57, 53, 0.1);
    }
}

.agregar__subcategoria {
    border: 1px dashed color(dotted);
    background: transparent;
    color: color(texto1);
    display: block;
    margin: space(lg) auto;

    &:hover {
        background: color(fondo);
    }
}

.guardar__reiniciar {
    display: block;
    background-color: color(principal);
    color: color(texto2);
    margin: space(md) auto;
}

.agregar-meta {
    background-color: color(principal);
    color: color(texto2);
}

#perfilDeRiesgo button {
    background-color: color(principal);
    color: color(texto2);

}


@media screen and (max-width: 1275px) {

    .eliminar__subcategoria {
        font-size: size(md);
        padding: 0 space(xs);
    }

    .agregar__subcategoria {
        font-size: size(base);
        padding: space(md);
    }

    .guardar__reiniciar {
        font-size: size(md);
    }

     .agregar-meta {
        font-size: size(md);
        margin-left: space(sm);
        padding: space(sm);
    }
}

@media screen and (max-width: 1100px) {

    .eliminar__subcategoria {
        margin-left: space(md);
    }

}


@media screen and (max-width: 800px) {

    .guardar__reiniciar {
        font-size: size(lg);
    }

    .agregar-meta {
        display: block;
        font-size: size(lg);
        margin: space(lg) auto 0 auto;
    }
}