@use "../utils/mixin" as *;
@use '../utils/functions' as *;
@use "../utils/maps" as *;
@use "sass:map";

.dona {
  @include flex-center(column);
  width: 55%;
  margin: 0 space(md);
  padding: space(md);
  border-radius: 14px;
  background-color: color(texto2);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

  &__title {
    margin-bottom: space(md);
  }

  &__body {
    @include flex-center(row);
    gap: space(lg);
    margin-bottom: space(lg);
  }

  &__chart {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    position: relative;
    @include flex-center(row);

    background: conic-gradient(categoria(gastos-fijos) 0% 20%,
        categoria(transporte) 20% 35%,
        categoria(medicinas) 35% 45%,
        categoria(gustos) 45% 65%,
        categoria(ahorros) 65% 85%,
        categoria(inversiones) 85% 100%);
  }

  &__hole {
    width: 60%;
    height: 60%;
    background-color: color(texto2);
    border-radius: 50%;
  }

  &__legend {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      gap: space(xs);
      margin-bottom: space(sm);
      font-size: size(md);

      &::before {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 3px;
        display: inline-block;
      }
    }
  }
}

@each $categoria, $color in $colores-categorias {
  .dona__legend-item--#{$categoria}::before {
    background-color: $color;
  }
}

/*Media queries*/
@media screen and (max-width: 992px) {
  .dona {
    &__title {
      h2 {
        font-size: 5vw;
      }
    }

    &__legend {
      li {
        font-size: size(lg);
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .dona {
    width: 85%;

    &__title {
      h2 {
        font-size: 7vw;
      }
    }

    &__chart {
      width: 45vw;
      height: 45vw;
    }

    &__legend {
      li {
        font-size: size(xl);
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .dona {
    width: 80%;

    &__title {
      h2 {
        font-size: 10vw;
      }

      .sueldo {
        @include flex-center(column);
      }
    }

    &__body {
      @include flex-center(column);
    }

    &__chart {
      width: 65vw;
      height: 65vw;
    }

    &__legend {
      li {
        font-size: size(xl);
      }
    }
  }
}