@use "../utils/mixin" as *;
@use '../utils/functions' as *;
@use "../utils/maps" as *;
@use "sass:map";

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: font(base);
    font-weight: 300;
    font-style: normal;
}

/* Títulos */
h1 {
    font-family: font(heading);
    font-weight: 600;
    font-style: normal;
    font-size: 4vw;
    text-align: center;
    color: color(principal);
    padding: 1vw;
}

h2 {
    font-family: font(heading);
    font-weight: 600;
    font-style: normal;
    font-size: 3vw;
    text-align: center;
    color: color(principal);
    padding: size(base);
}

h3 {
    color: color(principal);
    padding: 1vw;
}